// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//LAYOUT APP
.bg_purple {
    background-color: rgb(124, 16, 224);
}

.fs_25 {
    font-size: 25px;
}

.fs_20 {
    font-size: 20px;
}

//PRESET
.gap_25 {
    gap: 25px;
}
